<div id="container">
<section id="card">
    <mat-card appearance="outlined">
        <mat-card-header>
          <h3>AAA Bingo</h3>
        </mat-card-header>
            <mat-card-actions>

        <div id="text">
            <p>As numbers cycle on the top display find and stamp matches on your Bingo card.</p>
            <p style="font-weight: 500;">Feeling like a AAA pro?</p>
            <p> Quickly answer up to 5 trivia questions by clicking the "Free Space Opportunity" button. 
                If you answer correctly, a random free space will appear and some questions generate an 
                opportunity to scramble or clear other player boards!</p>
        </div>
        
        <button id="matbtn2" mat-raised-button routerLink="/splash">Go Back</button>
            </mat-card-actions>
      </mat-card>
    </section>



<div class="bg">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png">
    <img class="imgs" src="/assets/AAA-logo.png">
    <img class="imgs" src="/assets/towtruck.png"></div>
    
</div>