
<div id="container">

<section id="card">
<mat-card appearance="outlined">
    <mat-card-header>
      <h3>AAA Bingo</h3>
    </mat-card-header>

    <section id="actions">
    <mat-card-actions>
    <div id="grouped">
        <mat-card-subtitle>Create a New Game</mat-card-subtitle>
        <button id="matbtn1" mat-raised-button routerLink="/create" (click)="creategame()">Create</button>
    </div>
        <button id="matbtn2" mat-raised-button routerLink="/howto">How to Play</button>
    </mat-card-actions>
    </section>      
  </mat-card>

</section>

<div class="bg">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
  <img class="imgs" src="/assets/AAA-logo.png">
  <img class="imgs" src="/assets/towtruck.png">
</div>

</div>


